// Font size
$baseFont: 16px;

//	Colors
$btn-color: #1A45DB;
$btn-color-hover: #173DC2;
$btn-color-focus: #1435A8;

$header-color: #3d3d3d;
$text-default: #525252;
$text-hover: #4A6EED;
$price-color: #141414;
$price-discount: #FF0D55;
$price-old: #8F8F8F;
$btn-color-light: #f8f8f8;
$btn-counter-hover: #ededed;
$white: #ffffff;


//width
$desctop-width: 1280px;
$tablet-width: 688px;
$mobile-width: 320px;

html {
  font-size: $baseFont;
  font-family: 'Roboto', sans-serif;
  color: $text-default;

  a {
    color: blue;
    text-decoration: none;

    &:hover {
      color: $text-hover;
    }
  }

  h1 {
    font-size: 23px;
    color: $header-color;
    margin: 30px 0 20px 0;
  }

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}
