.counter.visually-hidden
    button.counter__btn.counter__btn--minus
        svg(width="20px" height="20px")
            use(xlink:href="/img/sprite.svg#minus")
    .counter__field
        span.counter__number 1
        span.counter__unit шт
    input.counter__input(value='1' hidden)
    button.counter__btn.counter__btn--plus
        svg(width="20px" height="20px")
            use(xlink:href="/img/sprite.svg#plus")
